@model IrasBlog.Models.BlogPost

<!-- Page Header -->
<header class="masthead" style="background-image: url('/Images/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>@Model.Title</h1>
          <h2 class="subheading">@Model.Abstract</h2>
          <span class="meta">
            Posted by
            @Html.ActionLink("Ira Nye", "About", "Home")
            on @Model.Created.ToString("MMM dd, yyyy")
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        @Html.Raw(Model.BlogPostBody)

        <br />
        <div class="row">
          <hr />
          <span class="align-center">There are @Model.Comments.Count comment(s)!</span>
          <hr />
        </div>

        @foreach (var comment in Model.Comments)
        {
          <div class="post-preview row">
            <h1>Comments</h1>
            <div class="col-lg-8 col-md-10 mx-auto">
              @comment.CommentBody
            </div>
            <div class="post-meta col-12">
              By @if (comment.Author.DisplayName == null)
              {@comment.Author.Email} @comment.Author.DisplayName on @comment.Created.ToString("M/d/yy")
            </div>
            <!--Must determine the proper call for the UserId (== comment.AuthorId)-->
            @if (User.IsInRole("Admin") || User.IsInRole("Moderator")) // || User.Identity.GetUserId() == comment.AuthorId)
            {
              @Html.ActionLink("Edit", "Edit", "Comments", new { Id = comment.Id }, new { @class = "btn btn-default" })
              @Html.ActionLink("Delete", "Delete", "Comments", new { Id = comment.Id }, new { @class = "btn btn-default" })
            }
          </div>
          <hr />
        }
        <div class="row">
          @if (User.Identity.IsAuthenticated)
          {
            using (Html.BeginForm("Create", "Comments", FormMethod.Post))
            {
              @Html.AntiForgeryToken()
              @Html.Hidden("BlogPostId", Model.Id)
              <textarea class="container-fluid" name="CommentBody" placeholder="Add Comment..."></textarea>
              <button class="btn btn-primary" type="submit">Comment</button>
            }
          }
        </div>
        <hr />
        <div class="row">
          @if (User.IsInRole("Admin"))
          {
            <span class="text-info"><strong>@Html.ActionLink("Edit ", "Edit", new { slug = Model.Slug })</strong></span>
            <span class="text-info">&nbsp;|&nbsp;</span>
            <span class="text-info col-md-3"><strong>@Html.ActionLink("Back to List", "Index", "BlogPosts")</strong></span>
          }
          else
          {
            <span class="text-info col-md-3"><strong>@Html.ActionLink("Back to List", "Index", "Home")</strong></span>
          }
        </div>
      </div>
    </div>
  </div>
</article>


