@model IrasBlog.Models.BlogPost

@{
  ViewBag.Title = "Edit";
}

<style>
  .navbar-nav {
    background-color: black;
  }
</style>
<!-- Page Header -->
<header class="masthead" style="background-image: url('/Images/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Edit Blog</h1>
        </div>
      </div>
    </div>
  </div>
</header>

@if (User.IsInRole("Admin"))
{
  <div class="container">
    <div class="row">
      <p class="h2">@Html.ActionLink(@Model.Title, "Details", new { id = Model.Id })</p>
      <div class=""></div>
    </div>
  </div>

}

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

<div class="form-horizontal">
  <hr />
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  @Html.HiddenFor(model => model.Id)
  @Html.HiddenFor(model => model.Created)
  @Html.HiddenFor(model => model.Slug)
  @Html.Hidden("foo", Model.Id)

  <div class="form-group">
    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Abstract, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.Abstract, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Abstract, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.BlogPostBody, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.BlogPostBody, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.BlogPostBody, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Published, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
      <div class="checkbox">
        @Html.EditorFor(model => model.Published)
        @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="Save" class="btn btn-primary" />
    </div>
  </div>
</div>
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>
